body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: bisque;
    color: black;
}

button{
    height: 30px;
    width: 60px;
    border-radius: 14px;
    color: white;
}

.add{
    background-color: green;
}

.delete-button{
    background-color: red;
}

div{
    display: inline;
    margin-right: 20px;
    
}

.task-container{
    padding: 5px;
    border: solid;
}

input{
    height: 20px;
}